<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsf/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:dataTable value="#{professorController.listarProfessores()}" cellpadding="1" cellspacing="1"
             var="gridProfAtual"
>
    <h:column> <c:facet name="header">CPF:</c:facet>#{gridProfAtual.cpf}</h:column>
    <h:column> <c:facet name="header">Nome:</c:facet>#{gridProfAtual.nome_professor}</h:column>
    <h:column> <c:facet name="header">E-Mail:</c:facet>#{gridProfAtual.email}</h:column>
    <h:column> <c:facet name="header">Telefone:</c:facet>#{gridProfAtual.telefone}</h:column>

</h:dataTable>


</html>