<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsf/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:dataTable var="tAtual" value="#{turmaController.listarTodasTurmas()}">
    <h:column><c:facet name="header">&nbsp;&nbsp; ID:</c:facet>&nbsp;&nbsp;#{tAtual.idTurma}</h:column>
    <h:column><c:facet name="header">&nbsp;&nbsp; Ano:</c:facet>&nbsp;&nbsp;#{tAtual.ano}</h:column>
    <h:column><c:facet name="header">&nbsp;&nbsp; Semestre:</c:facet>&nbsp;&nbsp;#{tAtual.semestre}</h:column>
    <h:column><c:facet name="header">&nbsp;&nbsp; Professor:</c:facet>&nbsp;&nbsp;#{tAtual.cpf}</h:column>
    <h:column><c:facet name="header">&nbsp;&nbsp; Disiplina:</c:facet>&nbsp;&nbsp;#{tAtual.idDisciplina}</h:column>
    <h:column><c:facet name="header">&nbsp;&nbsp; Data Cadastro:</c:facet>&nbsp;&nbsp;#{tAtual.dataCadastro}</h:column>
    <h:column><c:facet name="header">&nbsp;&nbsp; Curso:</c:facet>&nbsp;&nbsp;#{tAtual.idCurso}</h:column>
</h:dataTable>
</html>