<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsf/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:dataTable var="atual" value="#{disciplinaController.listarTodasDisicplinas()}" cellspacing="1" cellpadding="1">
    <h:column><c:facet name="header">&nbsp; Nome:</c:facet>&nbsp;&nbsp; #{atual.nome_disciplina} </h:column>
    <h:column><c:facet name="header">&nbsp; Ementa:</c:facet>&nbsp;&nbsp; #{atual.ementa} </h:column>
    <h:column><c:facet name="header">&nbsp; CH:</c:facet>&nbsp;&nbsp; #{atual.ch} </h:column>
    <h:column><c:facet name="header">&nbsp; Curso:</c:facet>&nbsp;&nbsp; #{atual.idCurso} </h:column>

</h:dataTable>
</html>