<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="index.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsf/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="carrossel"></ui:define>
    <ui:define name="conteudo">
        <h:outputLabel value="#{turmaController.mensagem}" style="font-size: large; color: red;"/>
        <ui:include src="cadastro/cadastrarTurma.xhtml"></ui:include>
    </ui:define>
    <ui:define name="listagem">
        <ui:include src="listagem/listarTurmas.xhtml"></ui:include>
    </ui:define>
</ui:composition>


