<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="index.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:c="http://xmlns.jcp.org/jsf/core"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="carrossel">
        
    </ui:define>
    <ui:define name="conteudo">
        <h:outputLabel value="#{professorController.mensagem}" id="lblMensagem" style="font-size: large; color: red;"></h:outputLabel>
        <ui:include src="cadastro/cadastroProfessor.xhtml"></ui:include>
    </ui:define>
    <ui:define name="listagem">
        <ui:include src="listagem/listagemProfessores.xhtml"></ui:include>
    </ui:define>

</ui:composition>