<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="index.xhtml" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:define name="carrossel">

    </ui:define>
    <ui:define name="conteudo">
        <h:outputLabel value="Matrícula:"/><h:inputText value=""/><br/>
        <h:outputLabel value="Nome:"/><h:inputText value=""/><br/>
        <h:outputLabel value="E-Mail:"/><h:inputText value=""/><br/>
        <h:outputLabel value="Telefone:"/><h:inputText value=""/><br/>
    </ui:define>
    <ui:define name="listagem">
        <h:panelGrid columns="4" >
            <h:outputLabel value="Matrícula asdffsafd:"/>
            <h:outputLabel value="Nome:"/>
            <h:outputLabel value="E-Mail:"/>
            <h:outputLabel value="Telefone:"/>
        </h:panelGrid>
    </ui:define>

</ui:composition>
