<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsf/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:form id="frmCadastroAlunos" >
    &nbsp;&nbsp;&nbsp;<h:outputLabel value=" Matrícula:"/><h:inputText value="#{cadastroAluno.matricula}"/><br/>
    &nbsp;&nbsp;&nbsp;<h:outputLabel value=" Nome:"/><h:inputText value="#{cadastroAluno.nome}"/><br/>
    &nbsp;&nbsp;&nbsp;<h:outputLabel value=" E-Mail:"/><h:inputText value="#{cadastroAluno.email}"/><br/>
    &nbsp;&nbsp;&nbsp;<h:outputLabel value=" Telefone:"/><h:inputText value="#{cadastroAluno.telefone}"/><br/>
    &nbsp;&nbsp;&nbsp;<h:commandButton value=" Gravar" action="#{cadastroAluno.insereAluno()}" label="Gravar">
    </h:commandButton>
</h:form>
</html>