<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsf/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:dataTable var="gridAlunoAtual" value="#{cadastroAluno.listarAlunos()}" id="lstAlunos"
             cellspacing="1" cellpadding="1" >
    <h:column><c:facet name="header">Nome:</c:facet>#{gridAlunoAtual.nome}</h:column>
    <h:column><c:facet name="header">Matrícula:</c:facet>#{gridAlunoAtual.matricula}</h:column>
    <h:column><c:facet name="header">E-Mail:</c:facet>#{gridAlunoAtual.email}</h:column>
    <h:column><c:facet name="header">Telefone:</c:facet>#{gridAlunoAtual.telefone}</h:column>
</h:dataTable>

</html>