<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsf/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:form id="frmCadastroDisciplina">
    <h:outputLabel value=" Nome Disciplina:" id="lblnomedisicplina"/><h:inputText value="#{disciplinaController.disciplinaAtual.nome_disciplina}"/><br/>
    <h:outputLabel value=" Ementa:" id="lblementa"/><h:inputText value="#{disciplinaController.disciplinaAtual.ementa}"/><br/>
    <h:outputLabel value=" Carga Horária:" id="lblch"/><h:inputText value="#{disciplinaController.disciplinaAtual.ch}"/><br/>
    <h:outputLabel value=" Curso (ID):" id="lblcursoid"/><h:inputText value="#{disciplinaController.disciplinaAtual.idCurso}"/><br/>
    <h:commandButton value="CADASTRAR DISCIPLINA" action="#{disciplinaController.inserirDisciplina()}"/>
</h:form>
</html>
