<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsf/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:form id="frmCadastroProfessor">
    <h:outputLabel value="CPF:" id="lblCPF"/><h:inputText value="#{professorController.profAtual.cpf}"/><br/>
    <h:outputLabel value="Nome:" id="lblNome"/><h:inputText value="#{professorController.profAtual.nome_professor}"/><br/>
    <h:outputLabel value="E-Mail:" id="lblEmail"/><h:inputText value="#{professorController.profAtual.email}"/><br/>
    <h:outputLabel value="Telefone:" id="lblTelefone"/><h:inputText value="#{professorController.profAtual.telefone}"/><br/>
    <h:commandButton value="CADASTRAR PROFESSOR" action="#{professorController.inserirProfessor()}"/>
</h:form>
</html>
