<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsf/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:form id="frmCadastroTurmar">
    <h:outputLabel value="Ano:"/><h:inputText value="#{turmaController.turmaAtual.ano}"/><br/>
    <h:outputLabel value="Semestre:"/><h:inputText value="#{turmaController.turmaAtual.semestre}"/><br/>
    <h:outputLabel value="Professor:"/><h:inputText value="#{turmaController.turmaAtual.cpf}"/><br/>
    <h:outputLabel value="Disciplina:"/><h:inputText value="#{turmaController.turmaAtual.idDisciplina}"/><br/>
    <h:outputLabel value="Curso:"/><h:inputText value="#{turmaController.turmaAtual.idCurso}"/><br/>
    <h:commandButton value="CADASTRAR TURMA" action="#{turmaController.inserirTurma()}"/>
</h:form>

</html>