<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:form >
   <f:view>
      <h:outputLabel value="#{cadastroAluno.mensagem}"/><br/><br/>
      <h:outputLabel value="Matricula:"/><h:inputText value="#{cadastroAluno.aluno.matricula}"/><br/><br/>
      <h:outputLabel value="Nome:"/><h:inputText value="#{cadastroAluno.aluno.nome}"/><br/><br/>
      <h:outputLabel value="E-Mail:"/><h:inputText value="#{cadastroAluno.aluno.email}"/><br/><br/>
      <h:outputLabel value="Telefone:"/><h:inputText value="#{cadastroAluno.aluno.telefone}"/><br/><br/>
      <h:commandButton value="Gravar" action="#{cadastroAluno.gravarDados}">
         <f:ajax event="click" render="@form"/>
      </h:commandButton><br/><br/>
      <h:outputLabel value="Matricula: "/><h:outputLabel value="#{cadastroAluno.aluno.matricula}"/><br/><br/>
      <h:outputLabel value="Nome: "/><h:outputLabel value="#{cadastroAluno.aluno.nome}"/><br/><br/>
      <h:outputLabel value="E-Mail: "/><h:outputLabel value="#{cadastroAluno.aluno.email}"/><br/><br/>
      <h:outputLabel value="Telefone: "/><h:outputLabel value="#{cadastroAluno.aluno.telefone}"/><br/><br/>
   </f:view>
</h:form>
</html>
